@model HomeViewModel
<h1 class="display-1">Home Page</h1>

<section class="mt-5">
    <h2>Aggiunti di Recente</h2>
@foreach (CourseViewModel course in Model.MostRecentCourses)
{
    <div class="row">
            <div class="col-sm-7">
                <h3>@course.NomeCorso</h3>
                <div class="author">di @course.Autore</div>
                <p>@course.Descrizione</p>
                <div class="prezzo">&euro; @course.Prezzo</div>
            </div>
        <div class="col-sm-2">@for (var i = 1; i <= course.Rating; i++)
            {
             <i class="fas fa-star" aria-label="course.Rating"></i>
            }
        </div>
        <div class="col-sm-3">
            <img src="~/Images/@course.Image" alt="Img del corso" class="img-fluid" heigth="250px" width="250px">
                <a asp-controller="Courses" asp-action="Detail" asp-route-id="@course.Id" class="btn btn-warning">Dettaglio</a>
        </div>
    </div>
<hr>
}
</section>
<section class="mt-5">
    <h2>I Migliori di Sempre</h2>
@foreach (CourseViewModel course in Model.BestRatingCourses)
{
    <div class="row">
            <div class="col-sm-7">
                <h3>@course.NomeCorso</h3>
                <div class="author">di @course.Autore</div>
                <p>@course.Descrizione</p>
                <div class="prezzo">&euro; @course.Prezzo</div>
            </div>
        <div class="col-sm-2">@for (var i = 1; i <= course.Rating; i++)
            {
             <i class="fas fa-star" aria-label="course.Rating"></i>
            }
        </div>
        <div class="col-sm-3">
            <img src="~/Images/@course.Image" alt="Img del corso" class="img-fluid" heigth="250px" width="250px">
                <a asp-controller="Courses" asp-action="Detail" asp-route-id="@course.Id" class="btn btn-warning">Dettaglio</a>
        </div>
    </div>
<hr>
}
</section>
